- name: install OS package prerequisites
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - python3
    - git

- name: install Python prereqisites
  pip:
    name: "{{ item }}"
    state: present
    # this must be present on MacOS with HomeBrew because auto detection from python_interpreter does not work.
    executable: pip3
  with_items:
    - click
    - web3
    - eth-testrpc
    - eth_tester
